@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {

    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

.contenedor {
    width: 320px; 
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 5px 5px black;
    font-weight: 400, 700;
    
}

.contenedor:hover{
    border: 2px solid rgb(0, 153, 255);
}

img {

    width: 100%;
    border-radius: 10px;
}

h2 {
    color: hsl(218, 44%, 22%);
    padding: 15px;
   
}
h2:hover{
    color:rgb(0, 153, 255);
    transition-duration: 1s;
}

.parrafo-dos {
    color: hsl(220, 14%, 62%);
    padding: 15px;

}

.attribution {
    align-items: center;
    font-size: 11px;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    color: hsl(228, 45%, 44%);
    
}

.attribution a{
    text-decoration: none;
    color: rgb(0, 153, 255);
}


@media screen and (max-width:375px) {
    
    .contenedor {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;

    }


    .attribution {
        margin: 20px;
    }

}


@media screen and (max-width:500px) {
    .main {
        margin: auto;
        border-radius: 20px;
        padding: 15%;

    }

    .contenedor {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;

    }


    .attribution {
        margin: 20px;
    }

}